@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Thasadith');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');


* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   box-sizing: border-box;
   list-style: none;
}

a:link,
a:visited,
a:hover {
   color: #000;
}

.container {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
}

.header,
.contacts,
.about,
.skills {
   height: 101vh;
}

.skills {
   height: auto;
   margin: 20px 0 20px 0;
}

.header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   background-color: #fff;
   padding-left: 20px;
}

.about,
.skills,
.contacts {
   background-color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 5px 23px 0 23px;
}

.about p {
   font-family: 'Playfair Display', serif;
   line-height: 20px;
   padding: 5px 0 5px 0;
   font-size: 13px;
}

.topics {
   padding: 25px 0 20px 0;
   font-size: 22px;
   color: #222;
   text-transform: uppercase;
   font-family: 'Fjalla One', sans-serif;
}

.apresentation {
   text-align: center;
}

.title {
   font-size: 45px;
   font-family: 'Playfair Display', serif;
   color: #222;
}

.subtitle {
   font-size: 20px;
   margin-top: 5px;
   text-align: left;
   font-family: 'Fjalla One', sans-serif;
   color: rgba(0, 0, 0, 0.8);
}

.btn-main {
   width: 122px;
   padding: 10px 10px 10px 23px;
   background: transparent;
   border: 2px solid #333;
   border-radius: 2px;
   font-size: 11px;
   text-transform: uppercase;
   letter-spacing: 1px;
}

#about-me-btn {
   margin-top: 35px;
}

.divider,
.divider-topics {
   width: 157px;
   height: 5px;
   border: 1px solid rgba(0, 0, 0, 0.6);
   border-left: none;
   border-right: none;
   margin-top: 10px;

}

.divider-topics {
   width: 45%;
}

.container-skill {
   display: flex;
   flex-direction: row;
   margin-top: 10px;
   margin-bottom: 10px;
   width: 100%;
   justify-content: space-around;
   align-items: center;
   padding: 10px 0 10px 0;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
   transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.skill {
   display: flex;
   flex-direction: column;
}

.skill h6 {
   font-family: 'Fjalla One', sans-serif;
   font-size: 11px;
   text-transform: uppercase;
}

.list-knowledge li img {
   height: 15px;
}

.list-knowledge,
.list-knowledge ul {
   display: flex;
   flex-direction: row;

}

.list-knowledge h6 {
   padding-top: 15px;
}

.list-knowledge ul {
   padding: 12px 0 0 20px;
}

.img img {
   height: 55px;
}

.wrapper-skill {
   width: 100%;
}

.contacts h6 {
   font-family: 'Playfair Display', serif;
   font-size: 18px;
}

.contact,
.wrapper-contact {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.contact {
   flex-direction: row;
   padding: 35px 0 20px 0;
   align-items: center;
}

.contact span {
   text-transform: uppercase;
   font-family: 'Fjalla One', sans-serif;
   padding-left: 20px;
}

.contact img {
   width: 35px;
}

.contact a {
   border-bottom: 0.7px dotted #222;
}

@media(min-width: 660px) and (max-width: 889px) {
   .container {
      width: 80%;
   }
}

@media(min-width: 890px) and (max-width: 1024px) {
   .container {
      width: 70%;
   }

   .container-skill {
      width: 45%;
   }

   .wrapper-skill {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
   }

   .container-skill {
      margin-right: 20px;
   }
}

@media(min-width: 1025px) {
   .container {
      margin: 0 auto;
      width: 70%;
   }

   .container-skill {
      width: 30%;
   }

   .wrapper-skill {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
   }

   .container-skill {
      margin-right: 20px;
   }

   .about {
      width: 50%;
   }
}