@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Thasadith");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");

* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   box-sizing: border-box;
   list-style: none;
}

a:link,
a:visited,
a:hover {
   color: #000;
}

.container {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
}

.header {
   height: 90vh;
}

.contacts {
   height: 100%;
}

.skills {
   height: auto;
}

.header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   background-color: #fff;
   padding-left: 20px;
}

.about,
.skills,
.contacts {
   background-color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 55px 23px 0 23px;
}

.about p {
   font-family: "Playfair Display", serif;
   line-height: 20px;
   padding: 10px 0 10px 0;
   font-size: 13px;
}

.topics {
   padding: 25px 0 20px 0;
   font-size: 22px;
   color: #222;
   text-transform: uppercase;
   font-family: "Fjalla One", sans-serif;
}

.apresentation {
   text-align: center;
}

.title {
   font-size: 42px;
   font-family: "Playfair Display", serif;
   color: #222;
}

.subtitle {
   font-size: 20px;
   margin-top: 5px;
   text-align: left;
   font-family: "Fjalla One", sans-serif;
   color: rgba(0, 0, 0, 0.8);
}

.btn-main {
   width: 122px;
   padding: 10px 10px 10px 23px;
   background: transparent;
   border: 2px solid #333;
   border-radius: 2px;
   font-size: 11px;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.divider,
.divider-topics {
   width: 157px;
   height: 5px;
   border: 1px solid rgba(0, 0, 0, 0.6);
   border-left: none;
   border-right: none;
   margin-top: 20px;
   margin-bottom: 20px;
}

.divider-topics {
   width: 45%;
}

.container-skill {
   display: flex;
   flex-direction: row;
   margin-top: 10px;
   margin-bottom: 10px;
   width: 100%;
   justify-content: space-around;
   align-items: center;
   padding: 10px 0 10px 0;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
   transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.skill {
   display: flex;
   flex-direction: column;
   width: 50%;
}

.skill h6 {
   font-family: "Fjalla One", sans-serif;
   font-size: 13px;
   text-transform: uppercase;
   font-weight: normal;
}

.img img {
   height: 55px;
}

.wrapper-skill {
   width: 100%;
}

.contacts h6 {
   font-family: "Playfair Display", serif;
   font-size: 18px;
   padding-top: 10px;
}

.contact,
.wrapper-contact {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.contact {
   flex-direction: row;
   padding: 35px 0 20px 0;
   align-items: center;
}

.contact span {
   text-transform: uppercase;
   font-family: "Fjalla One", sans-serif;
   padding-left: 20px;
}

.contact img {
   width: 35px;
}

.contact a {
   border-bottom: 0.7px dotted #222;
}

.wrapper {
   position: relative;
   overflow: hidden;
   width: 100%;
}

.main {
   position: relative;
   transform: translateX(0);
   transform: translate3d(0, 0, 0);
   transition: 300ms ease all;
   backface-visibility: hidden;
}

.show-nav .main {
   transform: translateX(300px);
   transform: translate3d(300px, 0, 0);
}

.nav {
   width: 300px;
   height: 100%;
   position: absolute;
   top: 0;
   left: -300px;
   padding: 25px;
   color: #fff;
   background: #333;
}

.btn-close {
   font-size: 25px;
   border: 2px solid #fff;
   padding: 1px 11px 4px 10px;
   width: 38px;
   margin-bottom: 20px;
   display: block;
   border-radius: 50px;
   text-decoration: none;
}

.nav a {
   color: #fff;
}

.btn-nav img {
   width: 30px;
   border: 3px solid #222;
   border-radius: 5px;
   padding: 2px;
   margin: 15px 0 0 15px;
}

#about-me-btn {
   margin: 10px;
   color: #fff;
   display: block;
   text-transform: uppercase;
   font-size: 20px;
   width: 100%;
   margin-top: 25px;
}

#about-me-btn:nth-child(1) {
   margin-top: 35px;
}

footer {
   background: #222;
   height: 100px;
   color: #fff;
   padding: 21px;
   font-size: 15px;
   font-family: "Fjalla One", sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
}

.coracao {
   color: red;
   font-size: 30px;
}

.right {
   width: 250px;
   height: 250px;
   overflow: hidden;
   border-radius: 50%;
   margin: 35px auto;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.my-picture {
   width: 100%;
   height: auto;
   margin-left: 10px;
   margin-top: -40px;
}

.progress-bar {
   border-radius: 60px;
   overflow: hidden;
   width: 100%;
   margin-top: 5px;
}

.progress-bar span {
   display: block;
}

.bar {
   background: rgba(0, 0, 0, 0.075);
}

.progress {
   /* animation: loader 8s ease forwards; */
   background: #75b800;
   color: #fff;
   padding: 5px;
   width: 0;
}

.html {
   width: 95%;
}

.css {
   width: 85%;
}

.angular {
   width: 70%;
}

.javascript {
   width: 70%;
}

.node {
   width: 70%;
}

.c-sharp {
   width: 45%;
}

.sql {
   width: 55%;
}

.git {
   width: 65%;
}

.mongo {
   width: 43%;
}

.angularjs {
   width: 30%;
}

.docker {
   width: 57%;
}

.ionic {
   width: 26%;
}

.linux {
   width: 70%;
}

.bootstrap {
   width: 85%;
}

.redis {
   width: 86%;
}

.aws {
   width: 20%;
}

.jasmine {
   width: 36%;
}

.koa {
   width: 68%;
}

@media (min-width: 660px) and (max-width: 889px) {
   .container {
      width: 80%;
   }
}

@media (min-width: 890px) and (max-width: 1024px) {
   .container {
      width: 70%;
   }

   .container-skill {
      width: 45%;
   }

   .wrapper-skill {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
   }

   .container-skill {
      margin-right: 20px;
   }
}

@media (min-width: 1025px) {
   .container {
      margin: 0 auto;
      width: 70%;
   }

   .container-skill {
      width: 30%;
   }

   .wrapper-skill {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
   }

   .container-skill {
      margin-right: 20px;
   }

   .header {
      height: 100vh;
   }

   .contacts {
      height: 100vh;
   }

   .about p {
      padding-top: 40px;
   }

   footer {
      font-size: 20px;
   }

   .about {
      flex-direction: row;
   }

   .left {
      width: 50%;
   }

   .right {
      margin: 140px auto;
      width: 270px;
      height: 270px;
   }
}
